@import "./_colors.scss";

img {
  max-width: 100%;
}

.f-text {
  font-size: 16px;
}

.f-subtitle {
  font-size: 20px;
}

ul li {
  list-style: none;
}

p,
span {
  color: $textColorGray;
}

a.nav-link:not(.btn-green) {
  color: $mainColor;
  font-weight: bold;
  position: relative;

  &.active,
  &:hover {
    color: $mainColor;

    &:after {
      content: "";
      height: 3px;
      position: absolute;
      width: calc(100% - 40px);
      display: block;
      bottom: -3px;
      left: 20px;
      background-color: $mainColor;
    }
  }
}

.bg-green {
  background-color: $green;
}

.green-color {
  color: $green;
}

button,
a {
  &.btn-green {
    color: #fff;
    background-color: $green;
    padding: 0.5rem 1.5rem;
    border: none;
    border-radius: 2rem;
    font-weight: bold;
    transition: background-color 0.3s;
    text-decoration: none;
    cursor: pointer;

    &:hover,
    &:focus {
      background-color: $greenHover;
      color: #fff !important;
    }
  }

  &.btn-red {
    color: #fff;
    background-color: $red;
    padding: 0.5rem 1.5rem;
    border: none;
    border-radius: 2rem;
    font-weight: bold;
    transition: background-color 0.3s;
    text-decoration: none;
    cursor: pointer;

    &:hover,
    &:focus {
      background-color: $redHover;
      color: #fff !important;
    }
  }

  &.btn-green-hover-blue {
    color: #fff;
    background-color: $green;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 2rem;
    font-weight: bold;
    transition: color 0.3s;
    text-decoration: none;

    &:hover {
      color: $mainColor;
    }
  }

  &:disabled {
    background-color: #adb5bd;
    cursor: no-drop;

    &:hover {
      background-color: #adb5bd;
    }
  }
}

.main-color,
.bg-main-color {
  background-color: $mainColor;
}
